<footer class="container-fluid bg-grey py-5 my-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                    <div class="main_title">
                        <img class="title-logo_stl" src="https://static.vecteezy.com/system/resources/previews/000/578/616/non_2x/vector-book-reading-logo-and-symbols-template-icons-app.jpg" alt="logo">
                        <div>
                            <span class="title-stl">iRead</span>
                            <span class="min-title-stl">Platform</span>
                        </div>
                    </div>
                                    </div>
                <div class="col-md-6 px-4">
                   <h6> About Platform </h6>
                   <p>providing a chance to read books online for Free.</p>
                   <a href="https://www.linkedin.com/in/abdelrahman-fouad-30b288216/" class="btn-footer" target="_blank"> More About </a><br>
                   <!-- <a href="https://www.linkedin.com/feed/update/urn:li:activity:7168653774838743040/" class="btn-footer"  target="_blank"> Portofolio </a> -->
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6> For More :</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul>
                            <li> <a routerLink="home"> Home</a> </li>
                            <li> <a href="#"> Team </a> </li>
                            <li> <a href="#"> Help Us </a> </li>
                         </ul>
                      </div>
                      <div class="col-md-6 px-4">
                         <ul>
                            <li> <a href="#"> Terms</a> </li>
                            <li> <a href="#"> Policy</a> </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6> Follow Us :</h6>
                   <div class="social">
                      <a href="https://www.facebook.com/profile.php?id=61552166455641" target="_blank"><i class="fa-brands fa-facebook soc-icn-stl"></i></a>
                   </div>
                   <!-- <form class="form-footer my-3">
                      <input type="text"  placeholder="search here...." name="search">
                      <input type="button" value="Go" >
                   </form> -->
                   <br>
                   <p>We help you to Enlight Yourself</p>
                </div>
             </div>
          </div>
       </div>
    </div>
</footer>