<!-- <app-nav-bar></app-nav-bar> -->

<div class="main_title">
    <img class="title-logo_stl" src="https://static.vecteezy.com/system/resources/previews/000/578/616/non_2x/vector-book-reading-logo-and-symbols-template-icons-app.jpg" alt="logo">
    <div>
        <span class="title-stl">iRead</span>
        <span class="min-title-stl">Platform</span>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active theme-stl">
        <img src="https://pbs.twimg.com/media/FP-mXCPXwAQk9-S.jpg:large" alt="cover 1">
      </div>
      <div class="carousel-item theme-stl">
        <img src="https://content.api.news/v3/images/bin/0bcfdfa863e47e1732ca191b581267f3" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item theme-stl">
        <img src="https://bookblabber.co.in/media/posts/138/4.png" class="d-block w-100 img-stl" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon nx_ic_stl" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon nx_ic_stl" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<app-who-are-we></app-who-are-we>
<app-latest-edition></app-latest-edition>
<app-arb-books-dshbrd></app-arb-books-dshbrd>
<app-eng-books-dshbrd></app-eng-books-dshbrd>
<app-chld-books-dshbrd></app-chld-books-dshbrd>
<app-listening></app-listening>
<ngx-scrolltop></ngx-scrolltop>
<app-footer></app-footer>
<!-- <app-reading></app-reading> -->
<!-- <app-book1-listien-dshbrd></app-book1-listien-dshbrd> -->




