<h1 class="title-stl">Best Sellers For 2024</h1>
<main class="main-stl">

    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <div class="carousel-stl" id="carousel">
        <div class="item"> <img class="cover-stl" src="https://shop.ireadhub.com/cdn/shop/files/418880302_747904877368595_8644004673405664840_n_3db5c775-d437-4d56-b605-018ad848e2d7_294x.jpg?v=1706521733" alt=""> <p class="book-titl-stl">120 جنايات</p> </div>
        <div class="item"> <img class="cover-stl" src="https://shop.ireadhub.com/cdn/shop/products/9789770937341-2_361x.jpg?v=1653316295" alt=""> <p class="book-titl-stl">القتل للمبتدئين</p> </div>
        <div class="item"> <img class="cover-stl" src="https://shop.ireadhub.com/cdn/shop/files/418735308_755977306563719_5147836899823928128_n_2048x2048.jpg?v=1705316598" alt=""> <p class="book-titl-stl">و أجمل الذكريات</p> </div>
        <div class="item"> <img class="cover-stl" src="https://m.media-amazon.com/images/I/61wHgyUsfdL._SL1500_.jpg" alt=""> <p class="book-titl-stl">Lord Of Souls</p> </div>
        <div class="item"> <img class="cover-stl" src="https://cdn.shopify.com/s/files/1/0495/3263/3247/products/9780525574682_large.jpg?v=1660649232" alt=""> <p class="book-titl-stl">One day in December</p> </div>
    </div>
</main>
  