<div class="main_stl">

  <p class="titl-stl">English Books</p>
  
  
  <div id="carouselExampleControls" class="carousel slide main_cur_stl" data-bs-ride="carousel">
    <div class="carousel-inner sub-curl-stl">
      <div class="carousel-item active">
        <img class="book-img-stl" src="https://shop.ireadhub.com/cdn/shop/products/61bYyB1I_UL_205x.jpg?v=1660558348" alt="book1">
        <p class="auth-stl">Blink</p>
        <p class="auth-stl">BY : Malcolm Gladwell</p>
        <a routerLink="/pathbook1" target="_blank" class="read-btn-stl">Read</a>
  
      </div>
      <div class="carousel-item" *ngFor="let i of books_eng">
        <img class="book-img-stl" [src]="i.image" alt="book1">
        <p class="auth-stl">{{i.name}}</p>
        <p class="auth-stl">BY : {{i.Author}}</p>
        <a routerLink="/pathbook1" target="_blank" class="read-btn-stl">Read</a>
  
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" id="52">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <br>
</div>