.main_stl{
  background-color: #ebe4e4 ;
}

.titl-stl{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  /* font-weight: 700; */
  line-height: 1.4;
}

.list-wrapper {
    position: relative;
  }
.list {
    display: flex;
    gap: 8px;
    padding: 16px;
  
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    /* Hide scrollbar in Firefox */
    scrollbar-width: none;

     /* Hide scrollbar in IE and Edge */
    -ms-overflow-style: none;
  }
  
  .item {
    flex-shrink: 0;
    width: 80%;
    height: 90vh;
  
    background-color: #FFF;
  
    scroll-snap-align: center;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
  }

  /* Hide scrollbar in webkit */
.list::-webkit-scrollbar {
    display: none;
}

.button {
    position: absolute;
    top: 50%;
  
    width: 3rem;
    height: 3rem;
  
    transform: translateY(-50%);
  }
  
  .button--previous {
    left: 1.5rem;
  
    transform: rotate(180deg);
    color: black;
  }
  
  .button--next {
    right: 1.5rem;
    color: black;
}
.main_cur_stl{
  position: relative;
  padding: 0 0vw;
  margin: 0 41vw;
}



.book-img-stl{
  height: 45vh;
  width: 17vw;

}

.auth-stl{
  margin: 2vh;
  font-size: larger;
  font-family: cursive;
  color: black;
  background-color: darkkhaki;
  text-align: center;
}

.read-btn-stl{
  text-decoration: underline;
  border: solid 5px black;
  color: rgb(113, 74, 74);
  display: flex;
  justify-content: center;
  margin: 0 5vw;
  padding: 0 2vw;
  text-decoration: none;
  font-size: larger;
  text-align: start;
  /* color: #15cdee; */
  background-color: white;
  /* height: 67px; */
  letter-spacing: 1px;
  z-index: 1;
  border-radius: 50px ;
  /* box-shadow: inset 0 0 0 #F15B43; */
  transition: all .8s ease-in-out;
}

.read-btn-stl:hover{
  box-shadow: inset 300px 0 0 #5d43f1;
  color: rgb(193, 226, 23);
} 
